<main class="container container-fluid mt-5">
    <!-- Render the sub layout -->
    <div>
        <form id="quizContainer" class="row">
            <div class="d-grid gap-2 col-12">
                <h1 id="question"> Test Question </h1>
                <button class="btn btn-primary col-12" id="answer1" type="button"></button><br>
                <button class="btn btn-primary col-12" id="answer2" type="button"></button><br>
                <button class="btn btn-primary col-12" id="answer3" type="button"></button><br>
                <button class="btn btn-primary col-12" id="answer4" type="button"></button>
            </div>
        </form>
    </div>
</main>

<script src="./js/celebritiesAjax.js"></script>