<main class="container container-fluid mt-5">
    <div id="scoreTitle">
        Congratulations!
        Your Score is
    </div>
    <br>
    <div id="scoreElement">
        <div id="localScore"><b>
            </b></div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="scoreSubmit">
        Save your score
    </button>
</main>

<script>
    var score = localStorage.getItem('score');
    console.log(score)
    document.getElementById('localScore').innerHTML = score;
</script>