<main class="container container-fluid mt-5">
    <div>
        <p id="score"></p>
    </div>

    <form id="quizContainer" class="row">
        <div class="d-grid gap-2 col-12">
            <h1 id="question"> </h1>
            <ul>
                <li class="btn btn-primary col-12">
                    <input type="radio" id="a1" name="answer" value="1">
                    <label for="answer" id="answer1"> </label>
                </li>
                <li class="btn btn-primary col-12">
                    <input type="radio" id="a2" name="answer" value="2">
                    <label for="answer" id="answer2"> </label>
                </li>
                <li class="btn btn-primary col-12">
                    <input type="radio" id="a3" name="answer" value="3">
                    <label for="answer" id="answer3"> </label>
                </li>
                <li class="btn btn-primary col-12">
                    <input type="radio" id="a4" name="answer" value="4">
                    <label for="answer" id="answer4"> </label>
                </li>
            </ul>
        </div>
    </form>
    <button class="btn btn-primary col-3" id="submit" type="submit">submit</button>
</main>

<script src="./js/triviaAjax.js"></script>